@import '../../styles';

.main-page {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
.container{
  // padding: 3rem 3rem;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  .left{
  // margin-top:8rem ;
    color: aliceblue;
    font-weight: 600;
    font-size: x-large;
  line-height: 2.35rem;
}
.right{
  .img-container{
    height: 27rem;
    img{
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
}
}

.btn{
  margin-top:0.5rem;
  background: none;
  color:azure;
  border-radius: 12px;
  padding: 0.7rem 1.5rem;
  border: 2px solid white;
}
.route{
  position: relative;
}