.ques{
    display: grid;
}
.questions-card{
    margin: 2rem 5rem;
    background-color: white;
    padding: 1rem 1.5rem;
    height: 15rem;
    width: 45rem;
    border-radius: 25px;
    box-shadow: inset 0px 0px 20px 1px #000;
}
.list{
    padding: 1rem;
}